html, body, main {
    margin: 0;
    padding: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    color: white;
    font-family: 'Lato', sans-serif;
}
#app{
    padding: 10px 20px 10px 20px;
    height: 100%;
    box-sizing: border-box;
    background: rgb(89,4,120);
    background-image: radial-gradient(farthest-corner at 200% 0%,rgba(200, 33, 204, 0.8) 30%, rgba(223, 33, 227, 0) 100%);
}
#app > div{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}
ul{
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
button{
    background-color: transparent;
    border: 0px;
    color: white;
    float: right;
}
h1{
    padding: 0px 0px 10px 0px;
    font-size: 4em;
}
li{
    width:100%;
    font-size: 1.8em;
    max-width: 95%;
    word-break: break-word;
    margin-top: 5px;
}
.list-date{
    float: right;
    font-size: 0.6em;
    margin-top: 5px;
}
#bg-check{
    top: 20%;
    left: 10px;
    position: absolute;
    z-index: -1;
}
.list-check{
    margin-right: 5px;
}
.page-button{
    position: absolute;
    color: white;
    bottom: 10%;
    right: 5%;
    font-size: 2em;
}
.page-button:hover{
    cursor: pointer;
}
#no-tasks{
    vertical-align: center;
    color: rgba(219,219,219,0.5);
}
.add-task{
    text-align: left;
    font-size: 3em;
}
#first-page > div {
    max-height: 50%;
    overflow-y: auto;
}
input{
    width: 96.5%;
    height: 40px;
    font-size: 1.8em;
    border: 0px;
    border-radius: 18px;
    padding: 0 10px 0 10px;
    word-break: break-all;
    box-shadow: 1px 1px black;
    box-shadow: 4px 6px 8px 0px rgba(75,75,75,0.5);
    display: block;
    min-height: 35px;
}
.added-task{
    font-size: 1.3em;
    background-color: white;
    color: rgba(163, 28, 165, 0.8);
    border-radius: 12px;
    width: 100%;
    padding: 5px;
    box-shadow: 4px 6px 8px 0px rgba(75,75,75,0.5);
    display: flex;
    justify-content: space-between;
}
.added-task > h3{
    margin: 0px;
    width: auto;
}
.added-task > img{
    margin-right: 10px;
}
.category-list{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.category-item{
    box-sizing: content-box;
    color: black;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 0 15px 0 15px;
    box-shadow: 4px 6px 8px 0px rgba(75,75,75,0.5);
}
#b52838{
    background-color: #b52838;
}
#MidnightBlue{
    background-color: MidnightBlue;
}
#green{
    background-color: green;
}
#white{
    background-color: white;
}
.category-chosen{
    background: url(checkmark.svg) center no-repeat;
    background-size: 60%;
}
#add-page{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
}
#add-page > h2{
    margin: 0px;
}
@media screen and (min-width: 600px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #app{
        width: 600px;
    }

}
@media screen and (max-height: 800px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #app{
        height: 100%;
    }
    h1{
        margin: 0px;
    }
}
@media screen and (min-height: 1200px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #app{
        height: 1200px;
    }
}